<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342385054887-t9svfkis7v65mphke6v19ok7fmnqnv45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342385054887-t9svfkis7v65mphke6v19ok7fmnqnv45</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>342385054887-q9bu1ngtdk8tuq68plqqc2gsr17ftffn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7tr236XElxg88xrh1S0hmXDhK8OAKcck</string>
	<key>GCM_SENDER_ID</key>
	<string>342385054887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutsi</string>
	<key>PROJECT_ID</key>
	<string>flutter-notes-c217e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notes-c217e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342385054887:ios:2053a292271d323c583782</string>
</dict>
</plist>